---
import Layout from "src/layouts/Layout.astro";
import Input from "src/components/input.astro";
import Button from "src/components/button.astro";

interface Props {
	language?: string;
	tabTitle: string;

	title?: string;
	subtitle?: string;
	descriptionHidden?: string;
	buttonContent?: string;
}

const {
	tabTitle,
	language = "en",

	title = "Login Panel",
	subtitle = "Login",
	descriptionHidden = "Login page",
	buttonContent = "Login",
} = Astro.props;
---

<Layout {tabTitle} {language}>
	<main class="h-full w-full flex flex-col items-center justify-center">
		<h1 class="pb-[6%] font-inconsolata text-center text-6xl font-bold tracking-widest">{title}</h1>
		<p class="hidden">{descriptionHidden}</p>

		<div class="flex flex-col items-center justify-center gap-8 border-2 border-white p-8">
			<h2 class="font-inconsolata text-center text-4xl font-bold tracking-widest">{subtitle}</h2>

			<form method="post" action="/api/login" enctype="multipart/form-data" class="w-full flex gap-4 flex-col items-center justify-center">
				<Input name="email" placeholder="Email" type="email" required />
				<Input name="password" placeholder="Password" type="password" min={6} max={256} required />
				<Button class="w-[50%]">{buttonContent}</Button>
			</form>
		</div>
	</main>
</Layout>
